/*Classes for nav bar*/
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 2em;
}

.downArrow {
  color: red;
  display: flex;
  justify-content: center;
  text-shadow: 0 0.1em 0.1em rgb(29, 29, 29);
}

.logo {
  padding-top: 1em;
}

.logotext {
  font-family: "Bungee", sans-serif;
}

.new {
  font-family: "Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap";
  font-size: 0.75em;
  padding-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}