/*Classes for tweeter feed*/
.new-tweet {
  margin-bottom: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.error {
  width : 300px;
  height : 55px;
  background : crimson;
  color: white;
  text-align : center;
  position : relative;
  left : calc( 50% - 150px );
  z-index : 3;
  display : none;
}

.letterCounter {
  margin-top: 0.6em;
  font-family: "Bungee";
}

.tweetButton {
  margin-top: 0.66em;
  font-family: "Bungee";
  color: #FFFFFF;
  background-color: #4056A1;
}